.pointer {
  cursor: pointer;
}

.fs-12 {
  font-size: 12px;
}
.width-75 {
  width: 75px;
}

.width-200 {
  width: 220px;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-top-n13 {
  margin-top: -13px;
}

.bars-open-margin {
  transition: all 0.5s;
  margin-left: 230px;
  margin-top: 16px;
}

.bars-close-margin {
  transition: all 0.5s;
  margin-left: 95px;
  margin-top: 16px;
}
.margin-top-22 {
  margin-top: 22px;
}
.margin-top-n10 {
  margin-top: -10px;
}

.margin-left-90 {
  margin-left: 78px;
}
.margin-left-220 {
  margin-left: 221px;
}
.width-100-90 {
  width: calc(100% - 78px);
}
.width-100-220 {
  width: calc(100% - 221px);
}
.width-30rem {
  width: 30rem;
}
